<nav class="navbar navbar-light navbar-expand-md" style="background-color:#D9CCB9;">
    <div class="container-fluid">
        <a class="navbar-brand" href="@Url.Action("Index","Home")" style="background-image:url(../../assets/img/NextCarsLogo.png);background-size:contain;background-repeat:no-repeat;background-position:center;height:35px;width:98px;"></a><button class="navbar-toggler" data-toggle="collapse"
                                                                                                                                                                                                                            data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1" style="font-family:Ubuntu, sans-serif;font-size:13px;">
            <ul class="nav navbar-nav mx-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="font-weight:normal;">Find a Car</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color:#000000;">Compare Cars</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color:#000000;">Find a Dealer</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color:#000000;">Technical Data</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("Index","VideoGallery")" style="color:#000000;">Search Videos</a></li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Sign In</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>
