<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Next Cars - Find a Car, 2018 Cars in India, New Launched Cars, Compare Cars, find a dealer, Search Cars by any feature, Video Gallery, Brochure.</title>
    <meta name="description" content="Next Cars giving a facility to find a suitable car by brand, fuel, budget, any feature, and options to compare cars, Videos and get an authorized dealer.">
    <meta name="author" content="Next Cars">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700">
    <link rel="stylesheet" href="~/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="~/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <link rel="stylesheet" href="~/assets/slider/css/slider.css">

    <script type="text/javascript" src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
    @*<script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js'></script>*@
    <script type="text/javascript" src="http://cdn.rawgit.com/bassjobsen/Bootstrap-3-Typeahead/master/bootstrap3-typeahead.min.js"></script>
</head>
<body>
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")
    @*<script src="~/assets/js/jquery.min.js"></script>*@
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>