@model nextcars.domain.CarVideos
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<nextcars.domain.VideoType> VideoType = (List<nextcars.domain.VideoType>)Session["VideoCategory"];
}
<div style="margin-top:10px;padding-top:5px;">
    <div class="container">
        <form method="post" style="font-size:13px;font-family:Ubuntu, sans-serif;">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <input id="txtCar" class="form-control" type="text" placeholder="Type a model name" style="font-size:13px;" autocomplete="off">
                        @Html.HiddenFor(m=>m.CrId)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.TextBoxFor(m=>m.vidURL, new { @class= "form-control", @placeholder = "Youtube Link" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.vidCourtsy, new { @class = "form-control", @placeholder="Author" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.vidTypeId, new SelectList(VideoType, "vidTypeId", "vidTypeName", 0),
                                "Select", new { @class = "form-control", required = "true"})
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group"><button class="btn btn-primary" type="submit" style="font-size:16px;">Save</button></div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
        $(function () {
            $("#txtCar").typeahead({
                hint: true,
                highlight: true,
                minLength: 3,
                source: function (request, response) {
                    $.ajax({
                        url: '/Home/AutoComplete/',
                        data: "{ 'prefix': '" + request + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            items = [];
                            map = {};
                            $.each(data, function (i, item) {
                                var id = item.carId;
                                var name = item.carName;
                                map[name] = { id: id, name: name };
                                items.push(name);
                            });
                            response(items);
                            $(".dropdown-menu").css("height", "auto");
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                updater: function (item) {
                    $('#CrId').val(map[item].id);
                    return item;
                }
            });
        });
</script>